* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  background-color: black;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}

.first-nav {
  display: flex;
}

.first-nav li {
  padding-left: 20px;
  font-size: 15px;
}

.smaller {
  font-size: 8px;
}

.left-nav {
  display: flex;
  justify-content: flex-end;
}

.left-nav li {
  padding-left: 10px;
  padding-right: 20px;
}

.hamburger {
  display: none;
}

.grey {
  color: rgb(170, 165, 165);
}

.white {
  color: white;
}

.get {
  display: flex;
  background-color: white;
  padding: 2px;
}

.second-nav {
  display: flex;
  padding: 20px;
  background-color: white;
}

.second-nav li {
  padding-right: 15px;
  font-size: 15px;
}

.text-black {
  color: rgb(99, 96, 96);
}

.search {
  padding: 25px 0 0 20px;
  margin-left: 43%;
  border-left: 1px solid #ccc;
}

.search-button {
  color: #aaa;
}

main {
  margin: 5% 1%;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "large small-top"
    "large small-bottom";
}

.coldate {
  color: #fff;
  float: right;
  padding: 1.1em;
}

.col1 {
  background-image: url(./images/mainimg1.png);
  grid-area: large;
  height: 520px;
  margin-right: 1%;
  background-size: cover;
  background-position: center center;
}

.colmargin {
  margin-top: 16%;
}

.text {
  font-size: 56px;
  color: #fff;
  text-decoration: none;
}

.col2 {
  background-image: url(./images/mainimg2.jpg);
  background-size: cover;
  grid-area: small-top;
  margin-bottom: 1%;
}

.sub-text {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.colfooter {
  color: grey;
  padding-left: 40px;
}

section a {
  font-size: 16px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  width: 90%;
}

.colfooter a {
  color: grey;
}

.coldate a {
  width: 100%;
  padding-top: 30px;
}

.row2 {
  background-image: url(./images/mainimg3.jpg);
  background-size: cover;
  grid-area: small-bottom;
}

section {
  width: auto;
  margin: 5% 5%;
}

.secgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

section h2,
aside h2 {
  color: #f42;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2%;
}

.hidden {
  display: none;
}

section img {
  width: 270px;
  height: 135px;
  margin-top: 5%;
}

.logo {
  width: 60%;
  margin: 15px auto 0 auto;
}

.logocontainer {
  width: 110px;
  background-color: #f42;
  height: 50px;
}

aside {
  width: auto;
  margin: 10% 5%;
}

aside i {
  margin-right: 2%;
}

.about li {
  color: white;
}

.sideheadright ul li {
  margin-right: 3px;
}

.footerlogo ul li {
  list-style: none;
  padding: 0.8em;
  background-color: rgb(43, 39, 39);
  border-radius: 50%;
  margin-right: 0.4em;
  margin-top: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}

.absolute a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 2%;
}

.mostflex-left a {
  color: #f42;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: none;
}

.sideheadright ul li a {
  color: #f42;
  font-size: 16px;
}

aside ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.image {
  width: 55px;
  position: absolute;
  z-index: 10;
  left: 5px;
  top: 10px;
  height: 20%;
}

.image img {
  width: 100%;
}

.image1 {
  position: relative;
}

.aside-grid1 {
  position: relative;
}

.aside-grid1 h4 {
  background-color: #f42;
  padding: 8px 2px 8px 80px;
  color: #fff;
}

.aside-grid2 {
  background-color: rgba(295, 68, 34, 0.08);
  padding: 8px 2px 15px 80px;
}

.aside-grid2 p {
  font-weight: bold;
}

.aside-grid3 {
  background-color: rgb(255, 246, 246);
  padding: 12px;
  color: #555;
}

.aside-grid4 {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  background-color: rgb(255, 246, 246);
  padding: 20px 0 55px 10px;
  font-size: 12px;
}

aside > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.mostpopular {
  width: auto;
  margin: 5% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.absolute {
  width: 370px;
  height: 280px;
  background-image: url(./images/secimg8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.absolute p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: #fff;
}

.most {
  margin-bottom: 10%;
  width: 66%;
}

.most img {
  width: 96px;
  height: 96px;
}

.most h2 {
  font-size: 28px;
  color: #f42;
  margin-bottom: 5%;
}

.most h4 {
  font-size: 13px;
  color: #f42;
}

.mostflex {
  display: flex;
  width: 92%;
  background-color: #f5e1de;
  padding-left: 3px;
}

.mostflex-right {
  width: 100%;
}

.most ul {
  list-style: none;
  width: 90%;
}

.latestdeals a img {
  width: 270px;
  height: 200px;
}

.most ul li a {
  text-decoration: none;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border-bottom: 1px solid rgb(172, 168, 168);
  line-height: 1.5rem;
}

.most ul li::before {
  content: "\2022";
  color: #f42;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

footer {
  bottom: 0%;
  position: static;
  background-color: #131313;
  right: 0%;
  left: 0%;
  height: 12em;
}

.footerlogo ul {
  display: flex;
  justify-content: center;
}

.footerlogo i {
  font-size: 22px;
  color: #111;
}

.brandrights {
  padding: 39px 0;
  background-color: #000;
  justify-content: center;
  text-align: center;
}

.brandrights i {
  color: red;
}

section span {
  color: #aaa;
  font-size: 13px;
}

.aside-grid4 span {
  color: #aaa;
}

.latestdeals span {
  margin-right: 1%;
  text-decoration: line-through;
}

.aside-grid2 span {
  color: #aaa;
  font-size: 13px;
}

.absolute span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.brandrights span {
  font-family: Arial, Helvetica, sans-serif;
  color: #aaa;
  font-size: 13px;
}

.latestdeals a:hover {
  color: #f42;
}

.absolute a:hover,
.mostflex-left a:hover {
  text-decoration: underline;
}

.sideheadright ul li a:hover {
  color: black;
}

section h2:hover,
aside h2:hover,
.most h2:hover {
  color: #000;
}

.grey:hover {
  color: white;
}

.text-black:hover {
  color: black;
}

.footerlogo ul li:hover {
  background-color: #131313;
}

.footerlogo i:hover {
  color: #eee;
}

.search-button:hover {
  color: grey;
}

@media screen and (max-width: 1300px) {
  .most {
    width: 105%;
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1290px) {
  main {
    width: 98%;
  }

  .hamburger {
    display: none;
  }

  .col1 {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 839px;
    height: 524px;
    background-position: center;
  }

  .col2 {
    display: block;
    grid-column: 4/5;
    width: 415px;
    height: 258px;
    margin-left: 2%;
    margin-top: 2px;
    background-position: center;
  }

  .row2 {
    grid-column: 4/5;
    width: 415px;
    height: 258px;
    margin-left: 2%;
    background-position: center;
  }

  .colmargin {
    margin: 8.9em 0 0 1.1em;
  }

  .text {
    font-size: 48px;
  }

  .secgrid {
    grid-template-columns: repeat(4, 1fr);
    width: auto;
    grid-gap: 5%;
  }

  section {
    width: 94%;
  }

  .mostpopular {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
  }

  .mostpopular ul {
    width: 100%;
  }

  .mostflex {
    width: 95%;
  }

  .mostflex-right {
    position: relative;
    left: 10%;
  }

  .absolute a,
  .absolute span {
    margin-top: 40%;
    margin-left: 2%;
    width: 80%;
    color: rgb(255, 255, 255);
  }

  .second-nav {
    width: 54%;
  }

  .search {
    padding: 26px 0 0 30px;
    margin-left: 31%;
    border-left: 1px solid #ccc;
  }

}

@media only screen and (max-width: 1024px) and (min-width: 616px) {
  
  nav {
    width: 100%;
  }

  main {
    grid-template-columns: repeat(4, 1fr);
    width: 98%;
  }

  .hamburger {
    display: none;
  }

  .col1 {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 100%;
    height: 496px;
    background-position: center;
  }

  .col2 {
    grid-column: 4/5;
    width: 100%;
    height: 243px;
    margin-left: 1%;
    margin-top: 2px;
    background-position: center;
  }

  .row2 {
    grid-column: 4/5;
    width: 100%;
    height: 247px;
    margin-left: 1%;
    background-position: center;
  }

  .most {
    width: 97%;
  }

  .mostflex {
    width: 100%;
  }

  .absolute {
    width: 100%;
  }

  .mostpopular {
    width: auto;
    margin: 0 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sub-text {
    font-size: 16px;
  }

  .search {
    padding: 15px 0 0 290px;
    margin-left: 65px;
  }

 .second-nav{
   padding: 15px 0 0;
   margin-left: 15px;
 }

  .second-nav li {
    font-size: 14px;
    padding-right: 10px;
  }

  .first-nav li {
    padding-left: 10px;
    font-size: 10px;
  }

  .first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7px;
    background-color: black;
  }

  .secmargin {
    margin-top: 5%;
  }

  .text {
    font-size: 46px;
    color: #fff;
    text-decoration: none;
  }

  section {
    width: 100%;
    padding-right: 10%;
  }

  section img {
    width: 229px;
    height: 114px;
  }

  aside > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  .hide {
    display: none;
  }

  .image1 {
    width: 100%;
  }

  aside {
    width: 90%;
  }

  .sideheadright ul {
  display: flex;
  flex-direction: column-reverse;
  }

  .sideheadright ul li {
   margin: 0.3em;
  }
  .secgrid {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }

  .colmargin {
    margin: 9.9em 0 0 1.1em;
  }

  .sub-text {
    font-size: 18px;
  }

  footer {
    height: 18em;
  }

  .mostflex-right img {
    margin-left: 40%;
  }

}

@media only screen and (min-width: 320px) and (max-width: 615px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .first{
    display: none;
  }

  .second-nav {
    display: none;
  }

  .hamburger {
    color: #f42;
    padding: 0 0 0 20px;
    margin-left: -2%;
    font-size: 20px;
  }

  .search {
    padding: 25px 0 0 10px;
    margin-left: 39%;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .col1 {
    grid-column: 1;
    grid-row: 1;
    height: 160px;
    width: 100%;
    background-position: center;
  }

  .col2 {
    grid-column: 1;
    grid-row: 2;
    height: 160px;
    width: 100%;
    background-position: center;
  }

  .row2 {
    grid-column: 1;
    grid-row: 3;
    height: 160px;
    width: 100%;
    background-position: center;
  }

  .text {
    font-size: 18px;
  }

  aside ul {
    display: grid;
    grid-template-columns: 1fr;
  }

  .colmargin {
    width: 80%;
    margin: 5.9em 0 0 1.1em;
  }

  .colfooter {
    font-size: 12px;
  }

  .sub-text {
    font-size: 18px;
  }

  .mostpopular {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .secgrid {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .secmargin {
    margin-top: 0;
  }

  footer {
    height: 13em;
  }

  .brandrights span {
    font-size: 11px;
  }

  .about li {
    font-size: 11px;
  }

  section img,
  .latestdeals a img {
    width: 80px;
    height: 80px;
  }

  section a {
    font-size: 14px;
    width: 100%;
  }

  figure {
    display: flex;
  }

  section h2 {
    margin: 8% 0;
  }

  .mostflex {
    width: 88%;
  }

  section figcaption {
    margin-top: 2%;
  }

  .absolute {
    width: 88%;
    height: 210px;
    background-image: url(./images/secimg8.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .absolute p,
  .absolute a,
  .absolute span {
    margin-top: 16%;
  }

}

