* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
 
ul{
    list-style: none;
 }
 
 a {
     text-decoration: none;
 }

.first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  background-color: black;
}

.first-nav {
    display: flex;   
}

.first-nav li {
    padding-left: 20px;
    font-size: 15px;
}

.smaller {
    font-size: 8px;
}

.left-nav {
    display: flex;
   justify-content: flex-end;

}

.left-nav li {
    padding-left: 10px;
    padding-right: 20px;
}

.grey {
    color: rgb(170, 165, 165);
}

.grey:hover { 
    color: white;
}

.white {
    color: white;
}

.get {
    display: grid;
    grid-template-columns: 2fr 0.1fr;
}

.second-nav{
    display: flex;
    padding: 20px;
    background-color: white;
}

.second-nav li {
    padding-right: 15px;
    font-size: 15px;
}

.text-black {
    color: rgb(99, 96, 96);
}

.text-black:hover {
    color: black;
}

.search{
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  color: grey;
  background-color: white;
}

.search-button {
    color:  #aaa;
}

.search-button:hover {
  color: grey;
}

main {
  margin: 0 1%;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "large small-top"
    "large small-bottom";
}
 
.coldate {
color: #fff;
float:right;
padding: 1.1em;
}

.col1 {
  background-image: url(./images/mainimg1.png);
  grid-area: large;
  height: 420px;
  margin-right: 1%;
  background-size: cover;
}

.text {
  font-size:56px;
  color: #FFF;
  text-decoration: none;
 
}

.col2 {
  background-image: url(./images/mainimg2.jpg);
  background-size: cover;
  grid-area: small-top;
  margin-bottom: 1%;
}

.sub-text{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.colfooter {
  color: grey;
  padding-left: 40px;
}

.colfooter a {
  color: grey;
}

.coldate a {
  width: 100%;
  padding-top: 30px;
}

.row2 {
  background-image: url(./images/mainimg3.jpg);
  background-size: cover;
  grid-area: small-bottom;
}

.grey:hover {
  color: white;
}

section {
  width: auto;
  margin: 5% 5%;
}

.secgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}

section h1,
aside h1 {
  color: #ff4422;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2%;
}

 .hidden { 
  display: none;
}

section h1:hover {
  color: #000;
}

section a {
  font-size: 16px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: block;
  width: 93%;
}

section span {
  color: #aaa;
  font-size: 13px;
}

section img {
  width: 270px;
  height: 135px;
  margin-top: 5%;
}

aside {
  width: auto;
  margin: 10% 5%;
}

.sidehead {
  display: flex;
  justify-content: space-between;
}

aside ul {
  display: flex;
 
}

.sidehead ul li {
   /* padding-left: 10px; */
  margin-top: 10px ;
  margin-right: 30px;
 
}

.sidehead ul li a {
  color: #FF4422;
  font-size: 18px;
}

.sidehead ul li a:hover {
  color: black;
}

.aside-grid1 {
  background-color: #FF4422;
  padding: 8px 2px 8px 60px;

}

.aside-grid1 img {
  width: 60px;
  height: 60px;
  margin: 10px;
  /* position: absolute; */
  top: 0;
  left: 0;
  /* z-index: 10; */
}

.aside-grid2 {
  background-color: rgba(295, 68, 34, 0.08);
  padding: 8px 2px 15px 60px;
}

.aside-grid3 {
  background-color: rgb(255, 246, 246);
  padding: 12px;
  color: #555555;
}

.aside-grid4 {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  background-color: rgb(255, 246, 246);
  padding: 20px 0 55px 10px;
  font-size: 12px;
}

.aside-grid4 span {
  color: #aaa;
}

 aside > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}